<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img id="side-nav-eco-cisco-logo" src="../images/eco-cisco-logo.png" alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logged in as
                </p>
                <p class="name tooltip-sidebar-logout">
                    John
                    <span class="last-name">Smith</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->
            <!-- begin SIDE NAV SEARCH -->
            <li class="nav-search">
                <form role="form">
                    <input type="search" class="form-control" placeholder="Search...">
                    <button class="btn">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>
            <!-- end SIDE NAV SEARCH -->
            <!-- begin My EcoCisco LINK -->
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> My EcoCisco 
                </a>
            </li>
            <!-- end My EcoCisco LINK -->
            <!-- begin PLEDGES DROPDOWN -->
            <li>
                <a href="#">
                    <i class="fa fa-edit"></i> Pledges 
                </a>
            </li>
            <!-- end PLEDGES DROPDOWN -->
            <!-- begin ENERGY USAGE-->
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i> Energy Usage
                </a>
            </li>
            <!-- end ENERGY USAGE DROPDOWN -->
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->
<!-- end SIDE NAVIGATION -->

