<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation" ng-controller="SideNavController">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PutANEL -->
            <li class="side-user hidden-xs">
                <img id="side-nav-eco-cisco-logo" src="../images/eco-cisco-logo.png" alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logged in as
                </p>
                <p class="name tooltip-sidebar-logout">
                    John
                    <span class="last-name">Smith</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->
            <!-- begin SIDE NAV SEARCH -->
            <li class="nav-search">
                <form role="form">
                    <input type="search" class="form-control" placeholder="Search...">
                    <button class="btn">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>
            <!-- end SIDE NAV SEARCH -->
            <li ng-repeat="button in buttons" ng-click="toggle($index)">
                <a href="#">
                    <i class="{{button.class}}"></i> {{button.label}} 
                </a>
            </li>
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->
<!-- end SIDE NAVIGATION -->

